<h1>Sign Up!</h1>

<div class="row">

  <%= form_for :user, url: :signup do |f| %>

    <label>First Name: </label>
      <div><%= f.text_field :first_name, :autofocus => true %></div>
    <label>Last Name: </label>
      <div><%= f.text_field :last_name %></div>
    <label>Email: </label>
      <div><%= f.text_field :email %></div>
    <label>Password: </label>
      <div><%= f.password_field :password %></div>
    <label>Password Confirmation: </label>
      <div><%= f.password_field :password_confirmation %></div><br>
    <%= f.submit "Submit" %>

  <% end %>
</div>
